
/*=======================  header start  =================================*/
header{ height:68px; width: 850px; margin:0 auto; position: relative; border-bottom: 2px solid #1C1C1C;}
header .logo img{ float:left; height:66px;}
header .nav-container{ float: right; position:relative; height:30px; width:544px; right:0; top:15px;}
header ul{ overflow:hidden; z-index:2; position:absolute;}
header .nav-container ul li{ cursor:pointer; float: left;  line-height:30px; text-align:center; padding:0 18px; height:30px; }
.active{color:#F3020B}
#navBg{ width:68px; height:30px; background:#000; position:absolute; top:1px; left:0;border-radius:20px; -webkit-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; -moz-border-radius:20px;}
/*=======================  header end    =================================*/

/*=======================  main start  =================================*/
#main{ overflow:hidden;width:900px; height:620px;  margin:0 auto; position:relative;} 
.main-ul{ overflow: hidden; width:5400px; position:absolute; left:0; top:0;}
.main-ul li{ width:900px; float:left; position:relative;}
.Carousel{  width:800px; margin:0 auto;}
.Carousel ul{  height:250px; width:800px; position:relative;}
.Carousel ul li{ position:absolute;-webkit-box-reflect: below 2px -webkit-gradient(linear,left top,left bottom,from(transparent),to(white),color-stop(0.7,transparent));}
.Carousel ul .img1{ width:180px; height:130px; top:75px; left:300px; z-index:10}
.Carousel ul .img2{ width:150px; height:100px; top:60px; left:130px;z-index:9}
.Carousel ul .img3{ width:130px; height:80px; top:40px; left:223px;z-index:8}
.Carousel ul .img4{ width:130px; height:80px; top:40px; left:414px;z-index:8}
.Carousel ul .img5{  width:150px; height:100px; top:60px; left:498px;z-index:9}
.img1 img{width:180px; height:130px;}
.img2 img,.img5 img{ width:150px; height:100px;}
.img3 img,.img4 img{ width:130px; height:80px;}

.cover{ opacity:0.7;  filter:alpha(opacity=70); background:#000; z-index:1; position:absolute; top:0; left:0;}
.key{ border-bottom:2px solid #1C1C1C; width:850px; height:50px; padding:5px 0px; margin:15px auto;}
.key span{ float:left; height:50px; line-height:50px;  padding-left:50px; font-size:18px;}
.key ul{ margin-top:10px;  overflow:hidden; position:relative; float:left; width:715px;}
.key li{-webkit-transform-style:preserve-3d; border-radius:5px; transition:all 1s; float:left; height:30px!important; text-align:center; padding:0 10px; margin:0 10px; cursor:pointer; line-height:30px!important; width: auto!important;}
.key li:hover{  background:#FFF; color:#000; border-radius:25px;}
.info{ width:850px; margin:0 auto; padding:10px 0px; overflow:hidden; position:relative;}
.info .photo{ overflow:hidden; width:210px; position:relative; height:258px; margin:0 40px; float:left;}
.photo img{ width:200px; height:250px; border:4px solid #FFF;border-radius:10px; }
#photo-details{ font-size:14px; padding:0 10px; background:#000; opacity:0.8; filter:alpha(opacity=80); position:absolute; width:178px; height:50px; bottom:-52px; left:50%; margin-left:-100px;}
.info .website{border:0px solid #FFF; float:right; width:550px; height:250px}
.website p{text-indent:2em; line-height:30px; padding:0 10px; margin:15px 0px;}
.website h4{ font-family:'微软雅黑'; font-size:17px;}
.details{ z-index:9999; position: absolute; display:none; width:0px; background:#fff; color:#000; height:0; border:2px solid #3D4351; border-radius:10px; top:240px; left:425px;}
.details p{text-indent:2em;display:none; padding:20px 8px; line-height:33px; font-size:17px;}
.details input{ z-index:1002; display:none;position:absolute; cursor: pointer; top:-22px; right:-22px; }
.close{ border:0; width:50px; height:50px; background:url(../images/close.png) no-repeat; }


/*=========================简介==============================================*/

.resume h2{ text-align:center; line-height:60px}
.personal,.ability,.experience{ padding:4px 0px; border-top:1px solid #fff;  overflow:hidden;}
.personal{ border:0;}
.resume h4{ float:left; line-height:30px; margin-left:120px; width:100px;}
.personal table{ float:left;}
.td-title{padding-right:100px!important;}
.personal table tr td{ text-align:left; line-height:25px; padding-right:15px;}
.personal a{ text-decoration:underline}
.ability .jn{ width:660px;float: left; line-height:25px; padding:8px;}
/*=========================简介==============================================*/



/*=======================  footer start  =================================*/
.footer{border-top:2px solid #1C1C1C; width:900px; margin:15px  auto;}
.footer .motto{ line-height:30px; padding-left:60px; margin-top:10px; color:#ddd}
.footer .copyRight{ font-size:14px; color:#999; text-align: center; line-height:50px;}
/*=======================  footer end    =================================*/